<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Reset Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-container">
        <div class="sub-container-1">
            <img src="/static/saferider.svg" width="250" height="160" alt="SafeRider App Logo">
        </div>

        <div class="sub-container">
            <h1>Reset Password</h1>

            <!-- Flash message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes">
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <form method="POST">
                <table>
                    <tr>
                        <td align="right">Username:</td>
                        <td><input type="text" name="username" placeholder="Enter your username" required></td>
                    </tr>
                    <tr>
                        <td align="right">Email:</td>
                        <td><input type="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td align="right">New Password:</td>
                        <td><input type="password" name="new_password" required></td>
                    </tr>
                    <tr>
                        <td align="right">Confirm Password:</td>
                        <td><input type="password" name="confirm_password" required></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit">Reset Password</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
